<!DOCTYPE html>
@using System.Web.Optimization
@Styles.Render("~/Content/css")
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/LayoutStyle.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <div class="wrapper">
            <h1 id="head-txt">ITSystem</h1>
            <nav id="main-nav">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="#">Consultans</a></li>
                    <li>@Html.ActionLink("Candidates" , "List", "Candidates")</li>
                    <li>@Html.ActionLink("Login", "Login", "Account")</li>
                </ul>
            </nav>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div class="wrapper">
            <h1> All rights reserved! 2016</h1>
        </div>
    </footer>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
</body>
</html>
