@model ITSystem.ViewModels.Consultants.ConsultantListVM
@{
    ViewBag.Title = "List Consultants";
}

<div class="wrapper">
    <h3>@ViewBag.Title</h3>
    <p>
        @Html.ActionLink("Create New", "Edit")
    </p>

    @using (Html.BeginForm())
    {
        <h5>Find by name:</h5>
        <p>
            @Html.TextBoxFor(model => model.Search, new { @class = "form-control" })
            <input type="submit" value="Search" class="btn btn-primary" />
        </p>
    }

   @if (Model.Consultants.Count == 0)
   {
       <div class="alert alert-info">No consultants found</div>
   }
   else
   {
        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("Username", "List", "Consultants", new RouteValueDictionary { { "SortOrder", Model.SortOrder == "username_asc" ? "username_desc" : "username_asc" }, { "Search", Model.Search } }, null)
                </th>
                <th>
                    @Html.ActionLink("First Name", "List", "Consultants", new RouteValueDictionary { { "SortOrder", Model.SortOrder == "fname_asc" ? "fname_desc" : "fname_asc" }, { "Search", Model.Search } }, null)
                </th>
                <th>
                    @Html.ActionLink("Last Name", "List", "Consultants", new RouteValueDictionary { { "SortOrder", Model.SortOrder == "lname_asc" ? "lname_desc" : "lname_asc" }, { "Search", Model.Search } }, null)
                </th>
                <th>Email</th>
                <th>Rank</th>
                <th></th>
            </tr>

            @foreach (var item in Model.Consultants)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rank)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>
   }
</div>
