@model ITSystem.ViewModels.Candidates.CandidateEditVM

@{
    ViewBag.Title = "Canidate Details";
}

<div class="wrapper">
    <h3>@ViewBag.Title</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsedTechnology)
        </dt>
       
        <dd>
            <div class="form-group">
                @Html.LabelFor(model => model.UsedTechnology, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @foreach (var usedTech in Model.UsedTechnology)
                    {
                        <input type="checkbox" name="SelectedTeams" value="@usedTech.Value" id="@usedTech.Value" @Html.Raw(usedTech.Selected ? "checked" : String.Empty) />
                        <label for="@usedTech.Value">@usedTech.Text</label>
                    }
                </div>
            </div>
        </dd>
    </dl>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "List")
    </p>
</div>

