@model ITSystem.ViewModels.Candidates.CandidateEditVM
@using System.Web.Optimization
@{
    ViewBag.Title = "Details";
}


<div class="wrapper">
    <h2>@ViewBag.Title</h2>

    <h4>Candidate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsedTechnologies)
        </dt>

        <table>

            <tr>
                    @for (int i = 0; i < Model.UsedTechnologies.Count; i++)
			        {
                        <tr>
			                <td>@Html.DisplayFor(model => model.UsedTechnologies[i].Name);</td>
                            <td>@Html.ActionLink("Add", "Add", new { id = Model.UsedTechnologies[i].Id }) | @Html.ActionLink("Delete", "Delete", new { id = Model.UsedTechnologies[i].Id })</td>
                        </tr>
                    }
            </tr>
        </table>

@*<dd>
            @for (int i = 0; i < Model.UsedTechnologies.Count; i++)
            {
                <p>@Html.DisplayFor(model => model.UsedTechnologies[i].Name);</p>
            }
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.ProgrammingLanguages)
        </dt>
        <dd>
            @for (int i = 0; i < Model.ProgrammingLanguages.Count; i++)
            {
                <p>@Html.DisplayFor(model => model.ProgrammingLanguages[i].Name);</p>
            }
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "List")
    </p>
</div>

